body {
    font-size: 16px;
}

h1 {
    font-size: 65px;
    font-family: sans-serif;
    font-style: italic;
    text-decoration: underline;
    text-align: center;
    color: orange;
}

.texto {
    background-color: purple;
}

p {
    font-size: 3em;
    font-weight: 600;
}

ul {
    background-color: blue;
    line-height: 30px;
}

#amarelo {
    background-color: yellow;
}

#vermelho {
    background-color: red;
}

#marrom {
    background-color: brown;
}