/*CSS do exercício 1*/
.caixa {
    color: white;
    display: inline-block;
    line-height: 50px;
    text-align: center;
    vertical-align: top;
}
  
.width-and-height {
    height: 50px;
    width: 50px;
}
  
/* insira na classe abaixo um padding de 20px para aplicá-lo aos itens B, C e D */
.padding {
    padding: 20px;
}
  
/* insira na classe abaixo uma margem de 30px para aplicá-la aos itens C e D */
.margin {
    margin: 30px;
}
  
/* insira na classe abaixo uma borda com valor '5px solid black' para aplicá-la ao item D */
.border {
    border: 5px solid black;
}

/*CSS do exercício 2*/
.exercicio-2 {
    height: 425px;
}

.super-mario, .goomba, .baloon, .speach, .bowser {
    position: relative;
    display: inline-block;
}
.super-mario {
    width: 200px;
}
  
.goomba {
    top: 125px;
    left: -150px;
    width: 100px;
}
  
.baloon {
    z-index: 2;
    top: -100px;
    left: -500px;
}
  
.speach {
    z-index: 3;
    top: -200px;
    left: -230px;
    font-size: 25px;
}
  
.bowser {
    z-index: 1;
    top: 35px;
    left: 250px;
    width: 200px;
}

/*CSS do exercício 3*/
