/*CSS do exercício 1*/
.caixa {
    color: white;
    display: inline-block;
    line-height: 50px;
    text-align: center;
    vertical-align: top;
}
  
.width-and-height {
    height: 50px;
    width: 50px;
}
  
/* insira na classe abaixo um padding de 20px para aplicá-lo aos itens B, C e D */
.padding {
    padding: 20px;
}
  
/* insira na classe abaixo uma margem de 30px para aplicá-la aos itens C e D */
.margin {
    margin: 30px;
}
  
/* insira na classe abaixo uma borda com valor '5px solid black' para aplicá-la ao item D */
.border {
    border: 5px solid black;
}

/*CSS do exercício 2*/
.super-mario {
    position: absolute;
    width: 200px;
}
  
.goomba {
    position: absolute;
    top: 550px;
    left: 50px;
    width: 100px;
}
  
.baloon {
    position: absolute;
    z-index: 2;
    top: 355px;
    left: 250px;
}
  
.speach {
    position: absolute;
    z-index: 3;
    top: 400px;
    left: 270px;
    font-size: 25px;
}
  
.bowser {
    position: absolute;
    z-index: 1;
    top: 450px;
    left: 525px;
    width: 200px;
}